body {
  padding: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
}

#content {
  float: left;
  clear: left;
  margin: 0px -400px 0px 0px;
  width: 100%;
}

#footer {
  text-align: center;
}

a, a:link {
  color: #6699cc;
  text-decoration: none;
}

a:active, a:hover {
  color: #669933;
  text-decoration: underline;
}

a:visited {
  color: #8899aa;
}

code {
  margin: 1px;
  padding: 2px;
  line-height: 1.4em;
  border: solid 1px #ccc;
}

pre > code {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

pre {
  color: white;
  background-color: black;
  padding: 0.5em;
  overflow: scroll;
}

.slacklog-emoji {
  height: 1.0em;
}

pre[class*="language-"] {
  resize: vertical;
  min-height: 15vh;
  max-height: 80vh;
  height: 30vh;
}

/* vim:set ts=8 sts=2 sw=2 noet: */
