---
# vim:set ts=2 sts=2 sw=2 et:
layout: slacklog
title: vim-jp.slack.com log - &#35<< .channel.Name >> - << .msgPerMonth.Year >>年<< .msgPerMonth.Month >>月
permalink: /<< .channel.Id >>/<< .msgPerMonth.Year >>/<< .msgPerMonth.Month >>/index:output_ext
---
<div>

<<- if or .msgPerMonth.HasPrev .msgPerMonth.HasNext >>
<header class='slacklog-header'>
  <<- if .msgPerMonth.HasPrev >>
  <a class='slacklog-prev-month' href='{{ site.baseurl }}/<< .channel.Id >>/<< .msgPerMonth.PrevYear >>/<< .msgPerMonth.PrevMonth >>/'>&lt;&lt;&nbsp;<< .msgPerMonth.PrevYear >>年<< .msgPerMonth.PrevMonth >>月</a>
  <<- end >>
  <<- if .msgPerMonth.HasNext >>
  <a class='slacklog-next-month' href='{{ site.baseurl }}/<< .channel.Id >>/<< .msgPerMonth.NextYear >>/<< .msgPerMonth.NextMonth >>/'><< .msgPerMonth.NextYear >>年<< .msgPerMonth.NextMonth >>月&nbsp;&gt;&gt;</a>
  <<- end >>
</header>
<<- end >>

<h2><a href='{{ site.baseurl }}/'>vim-jp.slack.com log</a> - <a href='{{ site.baseurl }}/<< .channel.Id >>/'>&#35<< .channel.Name >></a> - << .msgPerMonth.Year >>年<< .msgPerMonth.Month >>月</h2>

<<- range .msgPerMonth.Messages >>
<<- if visible . >>
  <span class='slacklog-message' id='ts-<< .Ts >>'>
    <<- if .Trail >>
    <img class='slacklog-icon slacklog-trail' src='<< userIconUrl . >>'>
    <span class='slacklog-name slacklog-trail'><< username . >></span>
    <a class='slacklog-datetime slacklog-trail' href='#ts-<< .Ts >>'><< datetime .Ts >></a>
    <a class='slacklog-slack-link' href='https://vim-jp.slack.com/archives/<< $.channel.Id >>/p<< slackPermalink .Ts >>'>Slack</a>
    <<- else >>
    <img class='slacklog-icon' src='<< userIconUrl . >>'>
    <span class='slacklog-name'><< username . >></span>
    <a class='slacklog-datetime' href='#ts-<< .Ts >>'><< datetime .Ts >></a>
    <a class='slacklog-slack-link' href='https://vim-jp.slack.com/archives/<< $.channel.Id >>/p<< slackPermalink .Ts >>'>Slack</a>
    <<- end >>

    <<- if and (ne .ThreadTs "") (ne .ThreadTs .Ts) >>
    <span class='slacklog-thread-broadcast-link'>
      このスレッドに返信しました : <a href='#ts-<<- .ThreadTs >>'><<- threadRootText .ThreadTs >></a>
    </span>
    <<- end >>

    <span class='slacklog-text'><< text . >></span>

    <<- if .Attachments >>
    <span class='slacklog-attachments'>
      <<- range .Attachments >>
      <<- if eq .ServiceName "GitHub" >>
        <span class='slacklog-attachment slacklog-attachment-github'>
          <span class='slacklog-attachment-github-serviceicon'><img src='<< .ServiceIcon >>'></span>
          <span class='slacklog-attachment-github-servicename'><< html .ServiceName >></span>
          <span class='slacklog-attachment-github-title'><a href='<< .TitleLink >>'><< html .Title >></a></span>
          <span class='slacklog-attachment-github-text'><< attachmentText . >></span>
        </span>
      <<- else if eq .ServiceName "twitter" >>
        <span class='slacklog-attachment slacklog-attachment-twitter'>
          <span class='slacklog-attachment-twitter-authoricon'><img src='<< .AuthorIcon >>'></span>
          <span class='slacklog-attachment-twitter-authorname'><< .AuthorName >></span>
          <span class='slacklog-attachment-twitter-authorsubname'><< .AuthorSubname >></span>
          <span class='slacklog-attachment-twitter-text'><< attachmentText . >></span>
          <span class='slacklog-attachment-twitter-footericon'><img src='<< .FooterIcon >>'></span>
          <span class='slacklog-attachment-twitter-footer'><< html .Footer >></span>
          <<- if .VideoHtml >>
          <span class='slacklog-attachment-twitter-video'><< .VideoHtml >></span>
          <<- end >>
        </span>
      <<- else if or .Title .Text >>
        <span class='slacklog-attachment slacklog-attachment-other'>
          <<- if and .ServiceIcon .ServiceName >>
          <div>
            <span class='slacklog-attachment-other-serviceicon'><img src='<< .ServiceIcon >>'></span>
            <span class='slacklog-attachment-other-servicename'><< html .ServiceName >></span>
          </div>
          <<- end >>
          <<- if and .Title .TitleLink >>
          <div class='slacklog-attachment-other-title'><a href='<< .TitleLink >>'><< html .Title >></a></div>
          <<- else if .Title >>
          <div class='slacklog-attachment-other-title'><< html .Title >></div>
          <<- end >>
          <<- if .Text >>
          <div class='slacklog-attachment-other-text'><< attachmentText . >></div>
          <<- end >>
        </span>
      <<- end >>
      <<- end >>
    </span>
    <<- end >>

    <<- if .Files >>
    <span class='slacklog-files'>
      <<- range .Files >>
      <div>
        <a href="{{ site.baseurl }}/files/<< .OriginalFilePath >>">
        <<- if eq .TopLevelMimetype "image" >>
        <img src="{{ site.baseurl }}/files/<< .ThumbImagePath >>" width="<< .ThumbImageWidth >>" height="<< .ThumbImageHeight >>" alt="<< .Title >>">
        <<- else if eq .TopLevelMimetype "video" >>
        <video src="{{ site.baseurl }}/files/<< .OriginalFilePath >>" poster="{{ site.baseurl }}/files/<< .ThumbVideoPath >>" controls>>" alt="<< .Title >>">
        </video>
        <<- else >>
        [[ダウンロード: << .Title >>(<< .PrettyType >>)]]
        <<- end >>
        </a>
      </div>
      <<- end >>
    </span>
    <<- end >>

    <<- if threads .Ts >>
    <details class='slacklog-thread'>
      <summary class-'slacklog-thread-summary'>
        <<- threadNum .ThreadTs >> 件の返信
        <span class='slacklog-thread-mtime'>最終返信: <<- threadMtime .ThreadTs >></span>
      </summary>
      <<- range threads .Ts >>
      <<- if eq .Subtype "thread_broadcast" >>
      <span class='slacklog-message-broadcasted'>
        <span class='slacklog-thread-broadcast-text'>チャンネルにも投稿済</span>
        <span class='slacklog-message' id='ts-<< .Ts >>'>
      <<- else >>
      <span class='slacklog-message' id='ts-<< .Ts >>'>
      <<- end >>
        <img class='slacklog-icon' src='<< userIconUrl . >>'>
        <span class='slacklog-name'><< username . >></span>
        <a class='slacklog-datetime' href='#ts-<< .Ts >>'><< datetime .Ts >></a>
        <span class='slacklog-text'><< text . >></span>

        <<- if .Attachments >>
        <span class='slacklog-attachments'>
          <<- range .Attachments >>
          <<- if eq .ServiceName "GitHub" >>
            <span class='slacklog-attachment slacklog-attachment-github'>
              <span class='slacklog-attachment-github-serviceicon'><img src='<< .ServiceIcon >>'></span>
              <span class='slacklog-attachment-github-servicename'><< html .ServiceName >></span>
              <span class='slacklog-attachment-github-title'><a href='<< .TitleLink >>'><< html .Title >></a></span>
              <span class='slacklog-attachment-github-text'><< attachmentText . >></span>
            </span>
          <<- else if eq .ServiceName "twitter" >>
            <span class='slacklog-attachment slacklog-attachment-twitter'>
              <span class='slacklog-attachment-twitter-authoricon'><img src='<< .AuthorIcon >>'></span>
              <span class='slacklog-attachment-twitter-authorname'><< .AuthorName >></span>
              <span class='slacklog-attachment-twitter-authorsubname'><< .AuthorSubname >></span>
              <span class='slacklog-attachment-twitter-text'><< attachmentText . >></span>
              <span class='slacklog-attachment-twitter-footericon'><img src='<< .FooterIcon >>'></span>
              <span class='slacklog-attachment-twitter-footer'><< html .Footer >></span>
              <<- if .VideoHtml >>
              <span class='slacklog-attachment-twitter-video'><< .VideoHtml >></span>
              <<- end >>
            </span>
          <<- else if or .Title .Text >>
            <span class='slacklog-attachment slacklog-attachment-other'>
              <<- if and .ServiceIcon .ServiceName >>
              <div>
                <span class='slacklog-attachment-other-serviceicon'><img src='<< .ServiceIcon >>'></span>
                <span class='slacklog-attachment-other-servicename'><< html .ServiceName >></span>
              </div>
              <<- end >>
              <<- if and .Title .TitleLink >>
              <div class='slacklog-attachment-other-title'><a href='<< .TitleLink >>'><< html .Title >></a></div>
              <<- else if .Title >>
              <div class='slacklog-attachment-other-title'><< html .Title >></div>
              <<- end >>
              <<- if .Text >>
              <div class='slacklog-attachment-other-text'><< attachmentText . >></div>
              <<- end >>
            </span>
          <<- end >>
          <<- end >>
        </span>
        <<- end >>
      </span>
      <<- if eq .Subtype "thread_broadcast" >>
      </span>
      <<- end >>
      <<- end >>
    </details>
    <<- end >>
  </span>
<<- end >>
<<- end >>

<<- if or .msgPerMonth.HasPrev .msgPerMonth.HasNext >>
<footer class='slacklog-footer'>
  <<- if .msgPerMonth.HasPrev >>
  <a class='slacklog-prev-month' href='{{ site.baseurl }}/<< .channel.Id >>/<< .msgPerMonth.PrevYear >>/<< .msgPerMonth.PrevMonth >>/'>&lt;&lt;&nbsp;<< .msgPerMonth.PrevYear >>年<< .msgPerMonth.PrevMonth >>月</a>
  <<- end >>
  <<- if .msgPerMonth.HasNext >>
  <a class='slacklog-next-month' href='{{ site.baseurl }}/<< .channel.Id >>/<< .msgPerMonth.NextYear >>/<< .msgPerMonth.NextMonth >>/'><< .msgPerMonth.NextYear >>年<< .msgPerMonth.NextMonth >>月&nbsp;&gt;&gt;</a>
  <<- end >>
</footer>
<<- end >>

</div>
