---
# vim:set ts=2 sts=2 sw=2 et:
layout: slacklog
title: vim-jp.slack.com log - &#35{{ .channel.Name }}
permalink: /{{ .channel.ID }}/index:output_ext
---
<div class="m-3">
  <h4 class="text-gray pb-2 border-bottom">&#35{{ $.channel.Name }}</h4>
  <nav class="SideNav bg-white">
    {{- range .keys }}
      <a class="SideNav-item" href="{{ J "site.baseurl" }}/{{ $.channel.ID }}/{{ .Year }}/{{ .Month }}/index.html">{{ .Year }}年{{ .Month }}月</a>
    {{- end }}
  </nav>
</div>
