---
# vim:set ts=2 sts=2 sw=2 et:
title: vim-jp.slack.com log - &#35{{ .channel.Name }}
permalink: /{{ .channel.ID }}/index:output_ext
---
<!doctype html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="noindex, nofollow">
<title>vim-jp &raquo; {{ J "page.title" }}</title>
<link rel="stylesheet" href="{{ J "site.baseurl" }}/assets/css/site.css" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="//vim-jp.org/rss.xml" />
<link rel="canonical" href="{{ J "site.baseurl" }}{{ J "page.url" }}" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ J "site.baseurl" }}/assets/javascripts/slacklog.js"></script>
</head>
<body>
  <div class="body">
    <div id="content">
      <!-- header -->
      <div class="pagehead ml-3">
        <h1>
          <span class="author">
            <a href="//vim-jp.org" class="url fn" >vim-jp</a>
          </span>
          <span class="path-divider">/</span>
          <a href="{{ J "site.baseurl" }}">slacklog</a>
        </h1>
      </div>
      <!-- /header -->
      <div>
        <div class="m-3">
  <h4 class="text-gray pb-2 border-bottom">&#35{{ $.channel.Name }}</h4>
  <nav class="SideNav bg-white">
    {{- range .keys }}
      <a class="SideNav-item" href="{{ $.baseURL }}/{{ $.channel.ID }}/{{ .Year }}/{{ .Month }}/index.html">{{ .Year }}年{{ .Month }}月</a>
    {{- end }}
  </nav>
</div>

      </div>
    </div>
    <!-- footer -->
    <div class="clearfix"></div>
    <div id="footer">
      <p>
        Powered by <a href="https://github.com/">GitHub</a>
      </p>
    </div>
    <!-- /footer -->
  </div>
</body>
